<div class="profile">
    <section id="wrapper">
        <header id="header">
      		<style>
      			.title {
      				margin: 24px 0;
      			}
      			ol {
      				list-style-type: none;
      				padding: 0;margin: 0;
      			}
      			ol li {
      				display: inline-block;
      				margin: 4px;
      			}
      			.social-button.borderless {
      				padding: 0 16px;
      			}
      		</style>
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <ol>
              <li><a class="icon-facebook social-button borderless" href="http://facebook.com/zacwhite"></a></li>
              <li><a class="icon-twitter social-button borderless" href="http://twitter.com/zacwhite"></a></li>
              <li><a class="icon-instagram social-button borderless" href="http://instagram.com/zacwhite"></a></li>
              <li><a class="icon-linkedin social-button borderless" href="http://linkedin.com/zacwhite"></a></li>
              <li><a class="icon-github social-button borderless" href="http://github.com/zac"></a></li>
            </ol>
        </header>
    </section>
</div>